# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/ # Your virtual environment folder
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
.dmypy.json
.ruff_cache/

# VS Code
.vscode/

# Database
*.db # For SQLite databases like products.db
*.sqlite
*.sqlite3

# Scraped Data (if you save to file)
products.json